:root {
    /*------------------------------
        COLORS
    -------------------------------*/
    --primary-color: #032E6B;
    --secondary-color: #DAE9FE;

    /*------------------------------
        CONTAINERS SIZE
    -------------------------------*/
    --container-md: 75rem;
}